:root {
  --error-color: #f06543;
  --success-color: #00a878;
  --light-color: #e8e9eb;
  --light-opacity: #e8e9eb2a;
  --dark-color: #313638;
  --dark-opacity: #31363841;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 10rem 2rem;
  background: var(--light-color);
  font-family: "Roboto", sans-serif;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  box-shadow: inset 2px 2px 10px var(--dark-opacity),
    inset -2px -2px 10px var(--light-opacity);
  overflow: hidden;
  padding: 5rem;
  border-radius: 20px;
}

